.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  padding: 0 19px;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  width: 430px;
  height: unset;
  padding: 22px;
  border-radius: 10px;
  margin: auto;
  justify-content: center;
}

.modal__form {
  padding-left: 19px;
}

.modal__title {
  width: 330px;
  height: 23px;
  padding-left: 19px;
  font-family: inter, sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: #000;
  margin-bottom: 54px;
}

.modal__input {
  display: flex;
  width: 358px;
  height: 27.34px;
  font-family: inter, sans-serif;
  font-size: 14px;
  margin-bottom: 29.74px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__button {
  width: 358px;
  height: 50.15px;
  margin-top: 18.26px;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  background-color: #000;
}

.modal__button:hover {
  opacity: 80%;
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: -44px;
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url("../images/ModalClose.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  opacity: 50%;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
  .modal__container {
    width: 282px;
    height: 322px;
    padding-left: 19px;
  }

  .modal__form {
    padding: 0px;
  }

  .modal__title {
    margin-bottom: 75px;
    font-size: 18px;
    width: unset;
    margin-top: 0px;
    padding: 0px;
  }

  .modal__input {
    width: 238px;
    height: 27px;
  }

  .modal__button {
    width: 238px;
    height: 46px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    left: 254px;
  }
}
